<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Single &mdash; A free HTML5 Template by FREEHTML5.CO</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
	<meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
	<meta name="author" content="FREEHTML5.CO" />

  	<!-- 
	//////////////////////////////////////////////////////

	FREE HTML5 TEMPLATE 
	DESIGNED & DEVELOPED by FREEHTML5.CO
		
	Website: 		http://theme.legionmarket.com/
	Email: 			info@theme.legionmarket.com
	Twitter: 		http://twitter.com/legionmarket
	Facebook: 	https://www.facebook.com/legionmarket

	//////////////////////////////////////////////////////
	-->

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="favicon.ico">

	<!-- Google Webfonts -->
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,500' rel='stylesheet' type='text/css'>
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="{{ paths.theme }}css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{{ paths.theme }}css/icomoon.css">
	<!-- Bootstrap Style -->
	<link rel="stylesheet" href="{{ paths.theme }}css/bootstrap.css">
	<!-- Theme Style -->
	<link rel="stylesheet" href="{{ paths.theme }}css/style.css">
	<!-- Modernizr JS -->
	<script src="{{ paths.theme }}js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="{{ paths.theme }}js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>
		
		<div id="legionmarket-portrait" style="background-image: url(images/hero.jpg);" data-minheight="500">
			<div id="legionmarket-toggle" class="js-legionmarket-toggle to-animate-single"><a href="#legionmarket-bio" class="legionmarket-active"><i class="icon-align-right"></i></a></div>
			<div id="legionmarket-intro">
				<h1><span class="to-animate">Designer,</span> <span class="to-animate">Full-stack Developer,</span> <span class="to-animate">Entrepreneur,</span> <span class="to-animate">Speaker</span></h1>
				<p class="to-animate">Interested in working together? Email me at <a href="mailto:info@theme.legionmarket.com" class="to-animate">info@theme.legionmarket.com</a></p>
			</div>
			<div id="social-animate" class="legionmarket-social">
				<ul>
					<li><a href="#" class="to-animate"><i class="icon-twitter-with-circle"></i></a></li>
					<li><a href="#" class="to-animate"><i class="icon-facebook-with-circle"></i></a></li>
					<li><a href="#" class="to-animate"><i class="icon-instagram-with-circle"></i></a></li>
				</ul>
			</div>
			<div class="overlay"></div>
		</div>
		<div id="legionmarket-bio">
			<div id="legionmarket-bio-inner">
				<p class="to-animate">Far far away, behind the word <a href="#">mountains</a>, far from the countries Vokalia and <a href="#">Consonantia</a>, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
				<p class="to-animate">A small river named <a href="#">Duden</a> flows by their place and supplies it with the necessary regelialia. It is a <a href="#">paradisematic</a> country, in which roasted parts of <a href="#">sentences</a> fly into your <a href="#">mouth</a>. Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life</p>
				<p class="to-animate">A small river named Duden flows by their place and supplies it with the necessary regelialia. Get in touch through <a href="#">twitter</a>, <a href="#">facebook</a> and <a href="#">instagram</a></p>
				<div class="legionmarket-copyright to-animate">
					<p><small>&copy; 2017 Free HTML5 Single. By <a href="http://theme.legionmarket.com" target="_blank">FREEHTML5.co</a> Images: <a href="http://unsplash.com/" target="_blank">Unsplash</a> </small></p>
				</div>
			</div>
			
		</div>
		
		
		<!-- jQuery -->
		<script src="{{ paths.theme }}js/jquery.min.js"></script>
		<!-- jQuery Easing -->
		<script src="{{ paths.theme }}js/jquery.easing.1.3.js"></script>
		<!-- Bootstrap -->
		<script src="{{ paths.theme }}js/bootstrap.min.js"></script>
		<!-- Waypoints -->
		<script src="{{ paths.theme }}js/jquery.waypoints.min.js"></script>
		<!-- Main JS -->
		<script src="{{ paths.theme }}js/main.js"></script>

	
	</body>
</html>
